@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />

<section class="d-flex justify-content-center align-items-center section-login">
    <div class="limiter mt-3 mb-3">
        <div class="container d-flex justify-content-center container-login">
            <div class="wrap-login100 p-l-50 p-r-50 p-t-77 p-b-30">
                <form id="account" method="post">
                    <h1 class="display-3 fw-bold p-b-55 text-center">Welcome back !</h1>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-floating m-b-16">
                        <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                        <label asp-for="Input.Email" class="form-label"></label>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-floating m-b-16">
                        <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" />
                        <label asp-for="Input.Password" class="form-label"></label>
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div>
                        <div class="checkbox">
                            <label asp-for="Input.RememberMe" class="form-label">
                                <input class="form-check-input" asp-for="Input.RememberMe" />
                                @Html.DisplayNameFor(m => m.Input.RememberMe)
                            </label>
                        </div>
                    </div>
                    <div class="mb-2 p-t-25">
                        <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Login</button>
                    </div>
                    <div class="d-flex justify-content-center pt-5 pb-3">
                        <p class="mb-2 pe-2">
                            <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                        </p>
                        <p class="mb-2">
                            <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                        </p>
                    </div>
                    <div class="mb-2 d-flex justify-content-center p-t-115">
                        <span class="pe-2">Not a memeber ? </span>
                        <p class="mb-2">
                            <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl"> Sign up now!</a>
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
