@page
@model RegisterModel

<section class="h-100">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col">
                <div class="card card-registration my-4">
                    <div class="row g-0">
                        <div class="col-xl-6 d-none d-xl-block">
                            <img src="/img/employees.jpg"
                                 alt="Sample photo" class="img-fluid"
                                 style="border-top-left-radius: .25rem; border-bottom-left-radius: .25rem;" />
                        </div>
                        <div class="col-xl-6">
                            <div class="card-body p-md-5 text-black">
                                <h3 class="mb-5">Employee registration form</h3>
                                <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                                    <div class="row">
                                        <div class="col-md-6 mb-5">
                                            <div class="form-outline">
                                                <label class="form-label" asp-for="Input.Name"></label>
                                                <input type="text" class="form-control form-control-lg" asp-for="Input.Name" />
                                                <span asp-validation-for="Input.Name" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-6 mb-5">
                                            <div class="form-outline">
                                                <label class="form-label" asp-for="Input.Surname"></label>
                                                <input type="text" class="form-control form-control-lg" asp-for="Input.Surname" />
                                                <span asp-validation-for="Input.Surname" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6 mb-5">
                                            <div class="form-outline">
                                                <label class="form-label" asp-for="Input.Email"></label>
                                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                                <input asp-for="Input.Email" class="form-control form-control-lg" autocomplete="username" aria-required="true" />
                                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-6 mb-5">
                                            <div class="form-outline">
                                                <label class="form-label" asp-for="Input.Birth"></label>
                                                <input class="form-control form-control-lg" asp-for="Input.Birth" />
                                                <span asp-validation-for="Input.Birth" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-outline mb-5">
                                        <label class="form-label" asp-for="Input.Image"></label>
                                        <input class="form-control form-control-lg" asp-for="Input.Image" type="file" placeholder="Image" />
                                        <span asp-validation-for="Input.Image" class="text-danger"></span>
                                    </div>

                                    <div class="form-outline mb-5">
                                        <label class="form-label" asp-for="Input.Password"></label>
                                        <input class="form-control form-control-lg" asp-for="Input.Password" autocomplete="new-password" aria-required="true" />
                                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                                    </div>

                                    <div class="form-outline mb-5">
                                        <label class="form-label" asp-for="Input.ConfirmPassword"></label>
                                        <input asp-for="Input.ConfirmPassword" class="form-control form-control-lg" autocomplete="new-password" aria-required="true" />
                                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                                    </div>

                                    <div class="d-flex mx-4 mb-3 mb-lg-4">
                                        <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
