* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

/*html {
  position: relative;
  min-height: 100%;
}*/

body {
  background-color: #eee;
}
.red {
    background-color: red;
}

.hero-shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: -1;
}

.home {
    position: relative;
    height: 40rem;
    background-image: url(../img/teamwork.jpg);
    background-size: cover;
    background-position: center;
    z-index: 0;
}

.aboutus-icon {
    font-size: 2rem;
}

.plus-icon {
    font-size: 1.8rem;
}