@using CompanyProject.Data.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<Employee> SignInManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CompanyProject</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CompanyProject.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-toggleable-sm navbar-light bg-dark box-shadow">
            <div class="container-fluid px-4">
                <a class="navbar-brand text-white" asp-area="" asp-controller="Home" asp-action="Index">EMS</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <div class="dropdown me-2">
                        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Home
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="nav-link text-dark dropdown-item" asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                            <li><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a></li>
                        </ul>
                    </div>
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <div class="dropdown me-2">
                            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Employees
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="AddEmployee">Add Employee</a></li>
                                <li><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Employees">Employee list</a></li>
                            </ul>
                        </div>
                        <div class="dropdown me-2">
                            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Task
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="nav-link text-dark" asp-area="" asp-controller="Task" asp-action="AddTask">Add Task</a></li>
                                <li><a class="nav-link text-dark" asp-area="" asp-controller="Task" asp-action="Index">Tasks list</a></li>
                            </ul>
                        </div>
                    }
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">

                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <main role="main">
        @RenderBody()
    </main>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
