@model EmployeeViewModel

<form method="POST">
    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Surname"></label>
        <input asp-for="Surname" />
        <span asp-validation-for="Surname" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Email"></label>
        <input asp-for="Email" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Birth"></label>
        <input asp-for="Birth" />
        <span asp-validation-for="Birth" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Password"></label>
        <input asp-for="Password" type="password" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="PictureUrl"></label>
        <input asp-for="PictureUrl"  />
        <span asp-validation-for="PictureUrl" class="text-danger"></span>
    </div>
    <div>
        <button class="btn btn-success">Submit</button>
    </div>
</form>