@{
    ViewData["Title"] = "Home Page";
}

<div class="home">
    <div class="container-fluid h-100 d-flex flex-column justify-content-center align-items-center text-light text-center">
        <p class="display-1">Employee Managment System</p>
        <p class="welcome-text mb-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pulvinar interdum sollicitudin.</p>
        <p class="btn btn-outline-light">Learn more about us</p>
        <div class="hero-shadow">

        </div>
    </div>
</div>
<footer class="bg-dark text-light border-top">
    &copy; 2023 - CompanyProject - <a class="text-light" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
</footer>