@{
    ViewData["Title"] = "Home Page";
}


<main>
    <section>
        <div class="home">
            <div class="container-fluid h-100 d-flex flex-column justify-content-center align-items-center text-light text-center">
                <p class="display-1">Employee Managment System</p>
                <p class="welcome-text mb-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pulvinar interdum sollicitudin.</p>
                <a class="btn btn-outline-light" href="#aboutus">Learn more about us</a>
                <div class="hero-shadow">
                </div>
            </div>
        </div>
    </section>
    <section>
        <div id="aboutus" class="container py-5">
            <div class="row text-center">
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="aboutus-box m-3 p-4 p-lg-5 border text-dark">
                        <h3>Quality</h3>
                        <i class="bi bi-check aboutus-icon"></i>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, saepe!</p>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="aboutus-box m-3 p-4 p-lg-5 border text-light bg-dark">
                        <h3>Customers</h3>
                        <i class="bi bi-people-fill aboutus-icon"></i>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, saepe!</p>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="aboutus-box m-3 p-4 p-lg-5 border text-dark">
                        <h3>System</h3>
                        <i class="bi bi-hdd-stack-fill aboutus-icon"></i>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, saepe!</p>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="aboutus-box m-3 p-4 p-lg-5 border text-light bg-dark">
                        <h3>Prices</h3>
                        <i class="bi bi-currency-dollar aboutus-icon"></i>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, saepe!</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container py-5 text-center">
            <p class="display-3 text-uppercase mb-0">
                Our Team
            </p>
            <p class="py-5">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veniam, quisquam nulla. Ducimus autem laboriosam maxime commodi, quas aliquam voluptatum iure qui reprehenderit. Doloribus illo voluptate aspernatur velit quisquam fugiat eius?
            </p>
            <div class="row row-cols-1 row-cols-md-2 row-cols-xl-4 g-4">
                <div class="col">
                    <div class="card h-100">
                        <img src="./img/ceo.jpg" class="card-img-top" alt="ceo">
                        <div class="card-body">
                            <h5 class="card-title">
                                CEO
                            </h5>
                            <p class="card-text">
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veniam, quisquam nulla.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <img src="./img/hr.jpg" class="card-img-top" alt="hr">
                        <div class="card-body">
                            <h5 class="card-title">
                                HR
                            </h5>
                            <p class="card-text">
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veniam, quisquam nulla.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <img src="./img/marketing.jpg" class="card-img-top" alt="marketing">
                        <div class="card-body">
                            <h5 class="card-title">
                                Marketing
                            </h5>
                            <p class="card-text">
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veniam, quisquam nulla.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <img src="./img/designer.jpg" class="card-img-top" alt="designer">
                        <div class="card-body">
                            <h5 class="card-title">
                                Graphic Designer
                            </h5>
                            <p class="card-text">
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veniam, quisquam nulla.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="contact" class="contact bg-dark text-light py-5">
        <div class="container text-center py-5">
            <p class="display-3 pb-lg-5 text-uppercase">
                Contact Us!
            </p>
            <div class="row">
                <div class="col-lg-9 my-5 m-lg-0">
                    <form>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Name and Surname">
                        </div>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="E-mail address">
                        </div>
                        <div class="input-group mb-3">
                            <textarea rows="6" class="form-control" placeholder="Message content"></textarea>
                        </div>
                        <input type="submit" value="Send" class="btn btn-light px-4 py-2 submit-btn">
                    </form>
                </div>
                <div class="col-lg-3 mt-4 m-lg-0 contact-info">
                    <h3>Adress:</h3>
                    <p class="orange-color">EmployeeManagmentSystem</p>
                    <p><i class="bi bi-geo-alt"></i> 623 Harrison St., 2nd Floor, <br> San Francisco, CA 94107</p>
                    <p><i class="bi bi-phone"></i> 415-201-6370</p>
                    <p><i class="bi bi-at"></i> contact@mail.com</p>
                </div>
            </div>
        </div>
    </section>
</main>

<footer class="bg-dark text-light border-top">
    <div class="text-center py-5 mb-0">
        Copyright &copy; <span class="year">2022</span> by Employee Managment System, Inc. All rights reserved.
    </div>
</footer>