@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="container mt-5">
    <div class="d-flex">
        <div class="pt-3 me-5">
            <h1 class="header fw-bold display-1 text-wrap mb-5">Privacy Policy</h1>
            <p class="mb-5">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vehicula sem leo, eget scelerisque nunc mattis sit amet. Mauris non sapien sed ante euismod hendrerit et sit amet dui. Mauris a porta tortor. Sed eleifend tellus eget ante bibendum, id dignissim orci consequat. Aenean interdum blandit est, ultricies porta nunc euismod ac. Nunc placerat accumsan massa. Ut nec justo porttitor, iaculis magna vel, pellentesque neque.
            </p>
            <button type="button" class="btn btn-dark">Learn More</button>
        </div>
        <div>
            <img class="img-fluid" src="~/img/privacypolicy.jpg" alt="privacy policy picture"/>
        </div>
    </div>
</div>